In [193]:
import pandas as pd
import numpy as np

In [194]:
data = pd.read_csv('diabetes.csv')

In [195]:
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [196]:
data.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [197]:
# data.drop(labels=[data.columns[0], data.columns[-1]], axis=1, inplace=True)

In [198]:
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [199]:
Y = data['Outcome']

In [200]:
# Y.replace(to_replace=['B','M'], value=[0,1], inplace=True)

In [201]:
Y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [202]:
Y = np.array(Y)

In [203]:
Y = Y.reshape(Y.shape[0], 1)

In [204]:
Y.shape

(768, 1)

In [205]:
X = data.iloc[:, :-1].values

In [206]:
X

array([[  6.   , 148.   ,  72.   , ...,  33.6  ,   0.627,  50.   ],
       [  1.   ,  85.   ,  66.   , ...,  26.6  ,   0.351,  31.   ],
       [  8.   , 183.   ,  64.   , ...,  23.3  ,   0.672,  32.   ],
       ...,
       [  5.   , 121.   ,  72.   , ...,  26.2  ,   0.245,  30.   ],
       [  1.   , 126.   ,  60.   , ...,  30.1  ,   0.349,  47.   ],
       [  1.   ,  93.   ,  70.   , ...,  30.4  ,   0.315,  23.   ]])

In [207]:
X.shape

(768, 8)

In [208]:
X = (X - np.mean(X, axis=0))// np.std(X, axis=0)

In [209]:
theta_initial = np.random.normal(loc = 0, scale=1, size=(X.shape[1],1))

In [210]:
theta_initial

array([[-0.20952118],
       [ 0.59653179],
       [-0.34763649],
       [ 1.3171003 ],
       [ 1.11696617],
       [ 0.58035887],
       [-0.18371104],
       [ 0.07981909]])

In [211]:
theta0_initial = 0

In [212]:
def sigmoid(theta0, theta):
    return 1/(1 + np.exp(-(theta0 + np.matmul(X, theta))))

In [213]:
# 1 in notes
def del_L_by_del_theta0(theta0, theta):

    return np.sum(sigmoid(theta0, theta) - Y)

In [214]:
# 2 in notes
def del_L_by_del_theta(theta0, theta):

    return np.matmul((sigmoid(theta0, theta) - Y).T, X).T    
    # first its (569,1)
    # after transpose(1, 569)

In [215]:
def binary_cross_entropy(theta0, theta):

    return -(np.dot(Y.T, np.log(sigmoid(theta0, theta)))  +  np.dot((1-Y).T, np.log(1-sigmoid(theta0, theta))))

In [216]:
max_iter = 50000
epsilon = 0.001
tol = 0.00001
counter = 0

while counter<=max_iter:

    theta0_final = theta0_initial - epsilon * del_L_by_del_theta0(theta0_initial, theta_initial)
    theta_final = theta_initial - epsilon * del_L_by_del_theta(theta0_initial, theta_initial)

    if np.abs(binary_cross_entropy(theta0_final, theta_final) - binary_cross_entropy(theta0_initial, theta_initial)) < tol:
        break

    print('The value of Binary Cross Entropy at Epoch # {} is {}'.format(counter, binary_cross_entropy(theta0_initial, theta_initial)))

    theta0_initial = theta0_final
    theta_initial = theta_final

    counter += 1

The value of Binary Cross Entropy at Epoch # 0 is [[687.53869676]]
The value of Binary Cross Entropy at Epoch # 1 is [[613.57265272]]
The value of Binary Cross Entropy at Epoch # 2 is [[551.35413371]]
The value of Binary Cross Entropy at Epoch # 3 is [[502.0381208]]
The value of Binary Cross Entropy at Epoch # 4 is [[465.44334019]]
The value of Binary Cross Entropy at Epoch # 5 is [[439.77840078]]
The value of Binary Cross Entropy at Epoch # 6 is [[422.34227526]]
The value of Binary Cross Entropy at Epoch # 7 is [[410.53115593]]
The value of Binary Cross Entropy at Epoch # 8 is [[402.37965243]]
The value of Binary Cross Entropy at Epoch # 9 is [[396.58922481]]
The value of Binary Cross Entropy at Epoch # 10 is [[392.35043677]]
The value of Binary Cross Entropy at Epoch # 11 is [[389.1638253]]
The value of Binary Cross Entropy at Epoch # 12 is [[386.71571945]]
The value of Binary Cross Entropy at Epoch # 13 is [[384.80282894]]
The value of Binary Cross Entropy at Epoch # 14 is [[383.28851153]]
The value of Binary Cross Entropy at Epoch # 15 is [[382.07756395]]
The value of Binary Cross Entropy at Epoch # 16 is [[381.1014802]]
The value of Binary Cross Entropy at Epoch # 17 is [[380.30960732]]
The value of Binary Cross Entropy at Epoch # 18 is [[379.66366585]]
The value of Binary Cross Entropy at Epoch # 19 is [[379.13423134]]
The value of Binary Cross Entropy at Epoch # 20 is [[378.69839042]]
The value of Binary Cross Entropy at Epoch # 21 is [[378.33812323]]
The value of Binary Cross Entropy at Epoch # 22 is [[378.03915093]]
The value of Binary Cross Entropy at Epoch # 23 is [[377.79009201]]
The value of Binary Cross Entropy at Epoch # 24 is [[377.5818309]]
The value of Binary Cross Entropy at Epoch # 25 is [[377.40703721]]
The value of Binary Cross Entropy at Epoch # 26 is [[377.25979499]]
The value of Binary Cross Entropy at Epoch # 27 is [[377.13531395]]
The value of Binary Cross Entropy at Epoch # 28 is [[377.02970292]]
The value of Binary Cross Entropy at Epoch # 29 is [[376.93979121]]
The value of Binary Cross Entropy at Epoch # 30 is [[376.86298709]]
The value of Binary Cross Entropy at Epoch # 31 is [[376.79716539]]
The value of Binary Cross Entropy at Epoch # 32 is [[376.74057786]]
The value of Binary Cross Entropy at Epoch # 33 is [[376.69178164]]
The value of Binary Cross Entropy at Epoch # 34 is [[376.64958197]]
The value of Binary Cross Entropy at Epoch # 35 is [[376.61298615]]
The value of Binary Cross Entropy at Epoch # 36 is [[376.58116663]]
The value of Binary Cross Entropy at Epoch # 37 is [[376.55343115]]
The value of Binary Cross Entropy at Epoch # 38 is [[376.52919866]]
The value of Binary Cross Entropy at Epoch # 39 is [[376.50797981]]
The value of Binary Cross Entropy at Epoch # 40 is [[376.48936111]]
The value of Binary Cross Entropy at Epoch # 41 is [[376.472992]]
The value of Binary Cross Entropy at Epoch # 42 is [[376.45857431]]
The value of Binary Cross Entropy at Epoch # 43 is [[376.44585366]]
The value of Binary Cross Entropy at Epoch # 44 is [[376.43461234]]
The value of Binary Cross Entropy at Epoch # 45 is [[376.42466346]]
The value of Binary Cross Entropy at Epoch # 46 is [[376.41584617]]
The value of Binary Cross Entropy at Epoch # 47 is [[376.40802161]]
The value of Binary Cross Entropy at Epoch # 48 is [[376.4010696]]
The value of Binary Cross Entropy at Epoch # 49 is [[376.39488587]]
The value of Binary Cross Entropy at Epoch # 50 is [[376.38937975]]
The value of Binary Cross Entropy at Epoch # 51 is [[376.38447218]]
The value of Binary Cross Entropy at Epoch # 52 is [[376.38009411]]
The value of Binary Cross Entropy at Epoch # 53 is [[376.37618509]]
The value of Binary Cross Entropy at Epoch # 54 is [[376.37269209]]
The value of Binary Cross Entropy at Epoch # 55 is [[376.36956854]]
The value of Binary Cross Entropy at Epoch # 56 is [[376.36677342]]
The value of Binary Cross Entropy at Epoch # 57 is [[376.3642706]]
The value of Binary Cross Entropy at Epoch # 58 is [[376.36202815]]
The value of Binary Cross Entropy at Epoch # 59 is [[376.36001786]]
The value of Binary Cross Entropy at Epoch # 60 is [[376.35821474]]
The value of Binary Cross Entropy at Epoch # 61 is [[376.35659664]]
The value of Binary Cross Entropy at Epoch # 62 is [[376.3551439]]
The value of Binary Cross Entropy at Epoch # 63 is [[376.35383906]]
The value of Binary Cross Entropy at Epoch # 64 is [[376.35266659]]
The value of Binary Cross Entropy at Epoch # 65 is [[376.35161264]]
The value of Binary Cross Entropy at Epoch # 66 is [[376.35066491]]
The value of Binary Cross Entropy at Epoch # 67 is [[376.34981239]]
The value of Binary Cross Entropy at Epoch # 68 is [[376.34904527]]
The value of Binary Cross Entropy at Epoch # 69 is [[376.3483548]]
The value of Binary Cross Entropy at Epoch # 70 is [[376.34773313]]
The value of Binary Cross Entropy at Epoch # 71 is [[376.34717327]]
The value of Binary Cross Entropy at Epoch # 72 is [[376.34666893]]
The value of Binary Cross Entropy at Epoch # 73 is [[376.34621451]]
The value of Binary Cross Entropy at Epoch # 74 is [[376.34580497]]
The value of Binary Cross Entropy at Epoch # 75 is [[376.3454358]]
The value of Binary Cross Entropy at Epoch # 76 is [[376.34510296]]
The value of Binary Cross Entropy at Epoch # 77 is [[376.3448028]]
The value of Binary Cross Entropy at Epoch # 78 is [[376.34453208]]
The value of Binary Cross Entropy at Epoch # 79 is [[376.34428786]]
The value of Binary Cross Entropy at Epoch # 80 is [[376.34406751]]
The value of Binary Cross Entropy at Epoch # 81 is [[376.34386867]]
The value of Binary Cross Entropy at Epoch # 82 is [[376.34368922]]
The value of Binary Cross Entropy at Epoch # 83 is [[376.34352723]]
The value of Binary Cross Entropy at Epoch # 84 is [[376.343381]]
The value of Binary Cross Entropy at Epoch # 85 is [[376.34324896]]
The value of Binary Cross Entropy at Epoch # 86 is [[376.34312974]]
The value of Binary Cross Entropy at Epoch # 87 is [[376.34302207]]
The value of Binary Cross Entropy at Epoch # 88 is [[376.34292482]]
The value of Binary Cross Entropy at Epoch # 89 is [[376.34283698]]
The value of Binary Cross Entropy at Epoch # 90 is [[376.34275762]]
The value of Binary Cross Entropy at Epoch # 91 is [[376.34268593]]
The value of Binary Cross Entropy at Epoch # 92 is [[376.34262115]]
The value of Binary Cross Entropy at Epoch # 93 is [[376.34256262]]
The value of Binary Cross Entropy at Epoch # 94 is [[376.34250972]]
The value of Binary Cross Entropy at Epoch # 95 is [[376.34246192]]
The value of Binary Cross Entropy at Epoch # 96 is [[376.34241871]]
The value of Binary Cross Entropy at Epoch # 97 is [[376.34237965]]
The value of Binary Cross Entropy at Epoch # 98 is [[376.34234435]]
The value of Binary Cross Entropy at Epoch # 99 is [[376.34231243]]
The value of Binary Cross Entropy at Epoch # 100 is [[376.34228358]]
The value of Binary Cross Entropy at Epoch # 101 is [[376.34225749]]
The value of Binary Cross Entropy at Epoch # 102 is [[376.3422339]]
The value of Binary Cross Entropy at Epoch # 103 is [[376.34221257]]
The value of Binary Cross Entropy at Epoch # 104 is [[376.34219329]]
The value of Binary Cross Entropy at Epoch # 105 is [[376.34217584]]
The value of Binary Cross Entropy at Epoch # 106 is [[376.34216007]]
The value of Binary Cross Entropy at Epoch # 107 is [[376.34214581]]
The value of Binary Cross Entropy at Epoch # 108 is [[376.34213291]]
The value of Binary Cross Entropy at Epoch # 109 is [[376.34212124]]